/**
 * custom-menu-wizard.css
 */
/*widget admin style...*/
.widget-custom-menu-wizard-onchange {line-height:1.5; margin:0 0 0.5em;}
.widget-custom-menu-wizard-onchange a,
.widget-custom-menu-wizard-onchange a.button {color:#0074a2;}
.widget-custom-menu-wizard-onchange a:hover,
.widget-custom-menu-wizard-onchange a.button:hover,
.widget-custom-menu-wizard-onchange a:active,
.widget-custom-menu-wizard-onchange a.button:active {border-color:#2ea2cc; color:#2ea2cc;}
.widget-custom-menu-wizard-onchange select,
.widget-custom-menu-wizard-onchange textarea,
.widget-custom-menu-wizard-onchange input[type="text"] {max-width:100%;}
.widget-custom-menu-wizard-onchange textarea {height:5em;}
.widget-custom-menu-wizard-onchange optgroup option {padding-left:0.75em;}
.widget-custom-menu-wizard-onchange .cmw-border-top {border-top:1px solid #e5e5e5;}
.widget-custom-menu-wizard-onchange .cmw-colour-grey,
.widget-custom-menu-wizard-onchange .cmw-colour-grey input,
.widget-custom-menu-wizard-onchange .cmw-colour-grey select,
.widget-custom-menu-wizard-onchange .cmw-colour-grey textarea {color:#7F7F7F}
.widget-custom-menu-wizard-onchange small.cmw-colour-grey {vertical-align:top;}
.widget-custom-menu-wizard-onchange .cmw-display-none {display:none;}
.widget-custom-menu-wizard-onchange .cmw-followed-by:after {content:""; display:inline-block; width:1em;}
.widget-custom-menu-wizard-onchange .cmw-indented {margin-left:1em; text-indent:-1em;}
.widget-custom-menu-wizard-onchange .cmw-maxwidth-twothirds {max-width:66% !important;}
.widget-custom-menu-wizard-onchange .cmw-off-the-page {display:none; position:absolute; left:-5000px; top:-5000px;}
.widget-custom-menu-wizard-onchange .cmw-pseudo-para {margin:1em 0;}
.widget-custom-menu-wizard-onchange .cmw-small-block {display:block; font-size:0.769em;}
.widget-custom-menu-wizard-onchange .cmw-textalign-right {text-align:right;}
.widget-custom-menu-wizard-onchange .cmw-verticalalign-baseline {vertical-align:baseline;}
.widget-custom-menu-wizard-onchange .cmw-whitespace-nowrap {white-space:nowrap;}
.widget-custom-menu-wizard-onchange .widget-custom-menu-wizard-assist {float:right; font-size:0.77em; height:auto; line-height:1.5; margin:-0.4em 0 0 1em; padding:0 1em;}
.widget-custom-menu-wizard-onchange .cmw-fieldset > div {margin:1em 0;}
a.widget-custom-menu-wizard-fieldset {background-image:url("custom-menu-wizard.png"); background-repeat:no-repeat; background-position:100% -32px; border-bottom:1px solid #E5E5E5; border-top:1px solid #E5E5E5; display:block; font-weight:bold; line-height:2.5; margin:0.5em 0 0; text-decoration:none; text-transform:uppercase; -webkit-transition-duration:0s; transition-duration:0s; width:100%;}
a.widget-custom-menu-wizard-fieldset:hover,
a.widget-custom-menu-wizard-fieldset:active {background-position:100% -112px;}
a.widget-custom-menu-wizard-fieldset.cmw-collapsed-fieldset {background-position:100% 8px;}
a.widget-custom-menu-wizard-fieldset.cmw-collapsed-fieldset:hover,
a.widget-custom-menu-wizard-fieldset.cmw-collapsed-fieldset:active {background-position:100% -72px;}
.widget-custom-menu-wizard-onchange .cmw-start-fieldset-collapsed {display:none;}
/*...pre WP3.8...*/
.widget-custom-menu-wizard-onchange.cmw-pre-wp-v38 input[type="checkbox"],
.widget-custom-menu-wizard-onchange.cmw-pre-wp-v38 input[type="radio"] {margin-right:4px;}
.widget-custom-menu-wizard-onchange.cmw-pre-wp-v38 .cmw-fieldset {padding-top:1em;}
/*...accessibility...*/
.no-js a.widget-custom-menu-wizard-fieldset.cmw-collapsed-fieldset {background-position:100% -32px;}
.no-js a.widget-custom-menu-wizard-fieldset.cmw-collapsed-fieldset:hover,
.no-js a.widget-custom-menu-wizard-fieldset.cmw-collapsed-fieldset:active {background-position:100% -112px;}
.no-js .widget-custom-menu-wizard-onchange .cmw-start-fieldset-collapsed {display:block;}
.no-js a.widget-custom-menu-wizard-fieldset {background-image:none;}
.no-js .widget-custom-menu-wizard-assist,
.js .widget-custom-menu-wizard-onchange .cmw-shortcode-nojs {display:none;}
/*...customizer tweaks...*/
.wp-customizer .widget-custom-menu-wizard-onchange input[type="text"] {margin:1px 0;}
/*...warnings...*/
.widget-custom-menu-wizard-no-menus,
.widget-custom-menu-wizard-onchange .cmw-legacy-warn {background-color:#ffeecc; border-left:4px solid #DD3D36; -webkit-box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.1); box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.1); font-size:0.846em; margin:5px 0 15px; padding:1px 1em;}
.widget-custom-menu-wizard-onchange a.cmw-legacy-close {background-color:transparent; border-radius:1.3em; color:#cc0000; display:block; float:right; font-size:1.5em; font-weight:bold; line-height:1.3; margin:0 -0.6em 0 0.5em; text-align:center; text-decoration:none; width:1.3em;}
.widget-custom-menu-wizard-onchange a.cmw-legacy-close:hover {background-color:#ffffff; -webkit-box-shadow:1px 1px 1px 0 rgba(0, 0, 0, 0.2); box-shadow:1px 1px 1px 0 rgba(0, 0, 0, 0.2);}
.widget-custom-menu-wizard-no-menus {background-color:#ffffff; font-size:1em; padding:0.5em 1em;}
/*shortcodes...*/
.widget-custom-menu-wizard-dialog .cmw-demo-theshortcode {clear:both; margin:1em 0 0.5em; width:100%;}
.widget-custom-menu-wizard-onchange .cmw-shortcode-wrap {clear:both; margin:0.75em 0 1em; width:100%;}
.widget-custom-menu-wizard-dialog code,
.widget-custom-menu-wizard-onchange code {border:1px solid #CCCCCC; display:inline-block; line-height:1.5; padding:0.25em 0.5em;}
.widget-custom-menu-wizard-onchange code {padding:0.1em 0.2em; font-size:0.846em;}
/*dialog style...*/
.widget-custom-menu-wizard-dialog {font-size:0.8392em; line-height:1.5;}
.widget-custom-menu-wizard-dialog .cmw-demo-themenu,
.widget-custom-menu-wizard-dialog .cmw-demo-themenu *,
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput,
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput *,
.widget-custom-menu-wizard-dialog .cmw-demo-theshortcode,
.widget-custom-menu-wizard-dialog .cmw-demo-theshortcode * {position:relative;}
/*...fix for jquery UI's draggable problem in v1.10.3/4...*/
.cmw-assistance-dialog {position:absolute !important;}
.cmw-assistance-dialog.cmw-assistance-dialog-fixed {position:fixed !important;}
.cmw-assistance-dialog .cmw-dialog-fixed-absolute {height:20px; margin:-10px 0 0; position:absolute; right:2em; top:50%;}
.cmw-assistance-dialog .cmw-dialog-fixed-absolute .ui-button-text {line-height:1; padding:1px 0.35em 1px 1.3em;}
.cmw-assistance-dialog .cmw-dialog-fixed-absolute .ui-button-icon-primary {left:0.1em;}
.cmw-assistance-dialog .ui-dialog-title {width:65% !important;}
/*...for customizer, make sure the assist goes above .wp-full-overlay, and for WP4.1 it needs to go above sidebar, so do regardless...*/
.ui-front.cmw-assistance-dialog {z-index:600000;}
/*...menu...*/
.widget-custom-menu-wizard-dialog .cmw-demo-themenu {float:left; margin:0 0.5em 0.5em 0;}
.widget-custom-menu-wizard-dialog .cmw-demo-themenu-ul {font-size:0.8333em; line-height:1.75;}
.widget-custom-menu-wizard-dialog .cmw-demo-themenu ul {list-style-type:none; margin:0.5em 0 0.5em 1.5em; padding:0;}
.widget-custom-menu-wizard-dialog .cmw-demo-themenu-ul ul {margin:0 0 0 2.4em;}
.widget-custom-menu-wizard-dialog .cmw-demo-themenu-ul li {display:block; margin:0; padding:1px 0; white-space:nowrap;}
.widget-custom-menu-wizard-dialog .cmw-demo-themenu-ul a {display:inline-block; text-align:center; text-decoration:none; vertical-align:top;}
.widget-custom-menu-wizard-dialog .cmw-demo-themenu-ul a:hover {text-decoration:none;}
.widget-custom-menu-wizard-dialog .cmw-demo-themenu-ul a:focus {outline:0 none;}
.widget-custom-menu-wizard-dialog .cmw-demo-themenu-ul span {display:block; width:10em; padding:0 2px; height:1.75em; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; border:1px solid #999999; -webkit-box-shadow:2px 2px 2px 0px #666666; box-shadow:2px 2px 2px 0px #666666;}
.widget-custom-menu-wizard-dialog .cmw-demo-themenu-ul .current-menu-ancestor {border-color:#cccc00 !important; background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 153, 0.7)), to(rgba(255, 255, 153, 0))); background-image:-webkit-linear-gradient(top, rgba(255, 255, 153, 0.7), rgba(255, 255, 153, 0)); background-image:-moz-linear-gradient(top, rgba(255, 255, 153, 0.7), rgba(255, 255, 153, 0)); background-image:-ms-linear-gradient(top, rgba(255, 255, 153, 0.7), rgba(255, 255, 153, 0)); background-image:-o-linear-gradient(top, rgba(255, 255, 153, 0.7), rgba(255, 255, 153, 0)); background-image:linear-gradient(to bottom, rgba(255, 255, 153, 0.7), rgba(255, 255, 153, 0)); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffff99, endColorstr=#01ffff99); -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffff99, endColorstr=#01ffff99)";}
.widget-custom-menu-wizard-dialog .cmw-demo-themenu-ul .current-menu-item {border-color:#cc0000 !important; background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255, 204, 204, 0.7)), to(rgba(255, 204, 204, 0))); background-image:-webkit-linear-gradient(top, rgba(255, 204, 204, 0.7), rgba(255, 204, 204, 0)); background-image:-moz-linear-gradient(top, rgba(255, 204, 204, 0.7), rgba(255, 204, 204, 0)); background-image:-ms-linear-gradient(top, rgba(255, 204, 204, 0.7), rgba(255, 204, 204, 0)); background-image:-o-linear-gradient(top, rgba(255, 204, 204, 0.7), rgba(255, 204, 204, 0)); background-image:linear-gradient(to bottom, rgba(255, 204, 204, 0.7), rgba(255, 204, 204, 0)); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffcccc, endColorstr=#01ffcccc); -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffcccc, endColorstr=#01ffcccc)";}
.widget-custom-menu-wizard-dialog .cmw-demo-themenu-ul .current-menu-parent {border-color:#ff9900 !important; background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255, 204, 153, 0.7)), to(rgba(255, 204, 153, 0))); background-image:-webkit-linear-gradient(top, rgba(255, 204, 153, 0.7), rgba(255, 204, 153, 0)); background-image:-moz-linear-gradient(top, rgba(255, 204, 153, 0.7), rgba(255, 204, 153, 0)); background-image:-ms-linear-gradient(top, rgba(255, 204, 153, 0.7), rgba(255, 204, 153, 0)); background-image:-o-linear-gradient(top, rgba(255, 204, 153, 0.7), rgba(255, 204, 153, 0)); background-image:linear-gradient(to bottom, rgba(255, 204, 153, 0.7), rgba(255, 204, 153, 0)); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffcc99, endColorstr=#01ffcc99); -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffcc99, endColorstr=#01ffcc99)";}
.widget-custom-menu-wizard-dialog .cmw-demo-themenu-ul a.cmw-item {color:#000000; margin:1px; padding:2px;}
.widget-custom-menu-wizard-dialog .cmw-demo-themenu-ul .picked > a.cmw-item {background-color:#333366; color:#ffffff;}
/*...ticks/crosses...*/
.widget-custom-menu-wizard-dialog .cmw-demo-themenu-ul a.cmw-tick,
.widget-custom-menu-wizard-dialog .cmw-demo-themenu-ul a.cmw-cross {background:transparent url("custom-menu-wizard.png") no-repeat 0 -160px; height:20px; margin:3px 2px 0px 0px; position:relative; -webkit-transition-duration:0s; transition-duration:0s; width:20px;}
.widget-custom-menu-wizard-dialog .cmw-demo-themenu-ul a.cmw-tick {background-position:0 -240px; margin-left:2px; margin-right:0; visibility:hidden;}
.widget-custom-menu-wizard-dialog .cmw-demo-filteritems a.cmw-tick {visibility:visible;}
.widget-custom-menu-wizard-dialog .cmw-version-210 a.cmw-cross {display:none;}
.widget-custom-menu-wizard-dialog .cmw-has-cross > a.cmw-cross,
.widget-custom-menu-wizard-dialog .cmw-has-cross.cmw-inherit-cross a.cmw-cross {background-position:0 -200px;}
.widget-custom-menu-wizard-dialog .cmw-has-cross.cmw-inherit-cross > a.cmw-cross {background-position:0 -320px;}
.widget-custom-menu-wizard-dialog .cmw-demo-themenu-ul a.cmw-cross:hover {background-position:0 -180px;}
.widget-custom-menu-wizard-dialog .cmw-has-cross > a.cmw-cross:hover,
.widget-custom-menu-wizard-dialog .cmw-has-cross.cmw-inherit-cross a.cmw-cross:hover {background-position:0 -220px;}
.widget-custom-menu-wizard-dialog .cmw-has-cross.cmw-inherit-cross > a.cmw-cross:hover {background-position:0 -360px;}
.widget-custom-menu-wizard-dialog .cmw-has-tick > a.cmw-tick,
.widget-custom-menu-wizard-dialog .cmw-has-tick.cmw-inherit-tick a.cmw-tick {background-position:0 -280px;}
.widget-custom-menu-wizard-dialog .cmw-has-tick.cmw-inherit-tick > a.cmw-tick {background-position:0 -340px;}
.widget-custom-menu-wizard-dialog .cmw-demo-themenu-ul a.cmw-tick:hover {background-position:0 -260px;}
.widget-custom-menu-wizard-dialog .cmw-has-tick > a.cmw-tick:hover,
.widget-custom-menu-wizard-dialog .cmw-has-tick.cmw-inherit-tick a.cmw-tick:hover {background-position:0 -300px;}
.widget-custom-menu-wizard-dialog .cmw-has-tick.cmw-inherit-tick > a.cmw-tick:hover {background-position:0 -380px;}
.widget-custom-menu-wizard-dialog .cmw-using-alternative .cmw-tick,
.widget-custom-menu-wizard-dialog .cmw-using-alternative .cmw-cross {opacity:0.5;}
/*...expanders...*/
.widget-custom-menu-wizard-dialog .widget-custom-menu-wizard-colexp {position:absolute; top:0.5em; -webkit-transition-duration:0s; transition-duration:0s;}
.widget-custom-menu-wizard-dialog .widget-custom-menu-wizard-colexp.ui-icon-triangle-1-e {opacity:0.2;}
/*...output...*/
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput {float:right; margin:0 0 3.5em 0.5em;}
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput h3 {border-bottom:1px solid #CCCCCC; font-size:1.1667em; margin:0.25em 0; padding: 0 0.857em 0.25em 0.643em;}
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput-wrap {border:1px solid #cccccc; margin:0.5em 0; min-height:3em; min-width:10em; padding:0 0 1px;}
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput-wrap {border-left:4px solid #2ea2cc;}
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput-wrap ul,
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput-wrap ol {margin:0.5em 1em 0.5em 2em; padding:0;}
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput-wrap li {margin:0;}
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput-wrap li ul {margin:0 0 0 1em;}
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput-wrap li ol {margin:0 0 0 1.5em;}
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput-wrap ul {list-style-type:disc;}
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput-wrap ul ul {list-style-type:circle;}
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput-wrap ul ul ul {list-style-type:square;}
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput-wrap ul ul ul ul {list-style-type:disc;}
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput-wrap ul ul ul ul ul {list-style-type:circle;}
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput-wrap ol {list-style-type:decimal;}
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput-wrap ol ol {list-style-type:upper-alpha;}
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput-wrap ol ol ol {list-style-type:lower-alpha;}
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput-wrap ol ol ol ol {list-style-type:lower-roman;}
.widget-custom-menu-wizard-dialog .cmw-demo-theoutput-wrap ol ol ol ol ol {list-style-type:decimal;}
.widget-custom-menu-wizard-dialog .cmw-demo-plugin-version {float:right; line-height:1;}
.widget-custom-menu-wizard-dialog .cmw-demo-small {font-size:0.8333em;}
.widget-custom-menu-wizard-dialog .cmw-demo-found-new,
.widget-custom-menu-wizard-dialog .cmw-demo-found-old,
.widget-custom-menu-wizard-dialog .cmw-demo-inclusions,
.widget-custom-menu-wizard-dialog .cmw-demo-exclusions,
.widget-custom-menu-wizard-dialog .cmw-demo-setcurrent,
.widget-custom-menu-wizard-dialog .cmw-demo-alternative,
.widget-custom-menu-wizard-dialog .cmw-demo-fallback {border-color:#7AD03A; border-left:4px solid #7AD03A; -webkit-box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.1); box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.1); display:none; font-style:italic; margin:0 0 2px 0; padding:1px 1em;}
.widget-custom-menu-wizard-dialog .cmw-demo-setcurrent {border-color:#DD3D36; border-left:4px solid #DD3D36; margin:2px 0 0;}
.widget-custom-menu-wizard-dialog .cmw-demo-alternative.error {border-color:#DD3D36; border-left:4px solid #DD3D36;}
.widget-custom-menu-wizard-dialog .cmw-demo-setcurrent.error,
.widget-custom-menu-wizard-dialog .cmw-demo-inclusions.updated,
.widget-custom-menu-wizard-dialog .cmw-demo-exclusions.updated,
.widget-custom-menu-wizard-dialog .cmw-demo-alternative.updated,
.widget-custom-menu-wizard-dialog .cmw-demo-fallback.updated {display:block;}
.widget-custom-menu-wizard-dialog span.spinner {display:none; float:none;}
/*...find shortcodes...*/
.widget-custom-menu-wizard-find-shortcodes {overflow:hidden; text-align:center; width:50px;}
.widget-custom-menu-wizard-find-shortcodes span {display:block;}
.cmw-ajax-showing .widget-custom-menu-wizard-find-shortcodes:after {background-color:#CC0000; content:""; display:block; height:2px; left:10%; position:absolute; top:50%; -webkit-transform:skew(0deg,-20deg); -ms-transform:skew(0deg,-20deg); -o-transform:skew(0deg,-20deg); transform:skew(0deg,-20deg); width:80%;}
.widget-custom-menu-wizard-dialog .cmw-find-shortcodes {position:absolute; right:0; top:-3em; z-index:10;}
.widget-custom-menu-wizard-dialog .cmw-demo-found-shortcodes {background-color:#FFFFFF; border:1px solid #666666; box-shadow:2px 2px 2px #666666; margin:0; max-width:70%; min-width:10em; opacity:0; padding:0 0 1px; position:absolute; right:5000px; top:-1000px;}
.widget-custom-menu-wizard-dialog .cmw-demo-found-shortcodes {border-right:4px solid #2EA2CC; -webkit-transition:opacity 1s linear 0s, right 0s linear 1s, top 0s linear 1s; -moz-transition:opacity 1s linear 0s, right 0s linear 1s, top 0s linear 1s; -o-transition:opacity 1s linear 0s, right 0s linear 1s, top 0s linear 1s; transition:opacity 1s linear 0s, right 0s linear 1s, top 0s linear 1s;}
.widget-custom-menu-wizard-dialog .cmw-ajax-showing .cmw-demo-found-shortcodes {opacity:1;}
.widget-custom-menu-wizard-dialog .cmw-ajax-showing .cmw-demo-found-shortcodes,
.widget-custom-menu-wizard-dialog .cmw-ajax-fetching .cmw-demo-found-shortcodes {right:60px; top:-4em;}
.widget-custom-menu-wizard-dialog .cmw-ajax-fetching span.spinner {display:block !important;}
.widget-custom-menu-wizard-dialog .cmw-demo-found-shortcodes p {font-size:inherit; font-style:italic; margin:1em;}
.widget-custom-menu-wizard-dialog .cmw-demo-found-shortcodes dl {border:0 none; margin:0.5em 0; padding:0;}
.widget-custom-menu-wizard-dialog .cmw-demo-found-shortcodes a {display:block; overflow:hidden; padding:0 1em; text-overflow:ellipsis; white-space:nowrap;}
.widget-custom-menu-wizard-dialog .cmw-demo-found-shortcodes a:hover {background-color:#F0F0F0;}
.widget-custom-menu-wizard-dialog .cmw-demo-found-new,
.widget-custom-menu-wizard-dialog .cmw-demo-found-old {display:block; font-style:normal; padding:0; margin:2px 0;}
.widget-custom-menu-wizard-dialog .cmw-demo-found-new {border-color:#ffffff; border-left:4px solid #ffffff;}
.widget-custom-menu-wizard-dialog .cmw-demo-found-old {border-color:#DD3D36; border-left:4px solid #DD3D36;}
